.emoji {
  .emoji-img {
    height: 64px;
    width: 64px;
    transition: width .1s ease;

    &:hover {
      filter: drop-shadow(0 0 5px rgb(143,143,143));
    }
  }

  .emoji-answers-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;

    .emoji-answer {
      border-radius: 0.6rem;
      transition: all .2s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }

      &.animated {
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-name: headShake;
        animation-name: headShake;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      }

      &.red {
        background-color: #DF5858;
      }
      &.green {
        background-color: #35B956;
        border: 2px solid #FFFFFF;
      }

      .square-img {
        margin-left: calc(calc(50% - 60px) / 1.25);

        img {
          height: 75px;
          width: 60px;
          object-fit: cover;
        }
      }
    }
  }
}
