.mods-container {
	max-width: 700px;
	padding: 1em;
	margin: auto;
	min-width: 300px;
	position: relative;

	.mod-box:first-child {
		margin-top: 2rem;
	}

	.mod-box:not(:first-child) {
		margin-top: 1.5rem;
	}

	.mod-container {
		background-color: #1E1E1E;
		border-radius: 20px;
		border: 5px solid #E18C0E;

		&.disabled {
			opacity: 0.5;
			pointer-events: none;
			background-color: #2e3131;

			h1 {
				user-select: none;
			}
		}

		.mod {
			&.image {
				height: 84px;
				width: 84px;
			}
		}
	}
}