@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@/assets/styles/base.scss";
@import "@/assets/styles/home.scss";
@import "@/assets/styles/classic.scss";
@import "@/assets/styles/emoji.scss";
@import "@/assets/styles/blur.scss";

body {
	background-size: cover;
	background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('/images/background-anime.png') no-repeat fixed;
	margin: 0;
	min-height: 100vh;
	color: #fdfbfb;
	font-family: Montserrat, sans-serif;
}

.page {
	min-height: calc(100% - 75px);
}

footer {
	height: 75px;
}

.language-modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 300px;
	background-color: #1E1E1E;
	border-radius: 20px;
	border: 5px solid #E18C0E;
	z-index: 100;

	h2 {
		text-align: center;
		margin: 1rem 0;
	}

	select {
		appearance: none;
		/* safari */
		-webkit-appearance: none;
		/* other styles for aesthetics */
		width: 80%;
		font-size: 1.15rem;
		padding: 0.675em 6em 0.675em 1em;
		background-color: #fff;
		border: 1px solid #caced1;
		border-radius: 0.25rem;
		color: #000;
		cursor: pointer;
	}
}

.help-modal {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, 0);
	width: 40%;
	height: 80vh;
	background-color: #1E1E1E;
	border-radius: 20px;
	border: 5px solid #E18C0E;
	z-index: 100;
	overflow-y: auto;

	.help-sub {
		padding: 0 2rem;
		margin-top: 1rem;
	}

	.help-modal-close {
		position: absolute;
		top: calc(-1rem + 5px);
		right: 5px;
		font-size: 1.5rem;
		cursor: pointer;
		z-index: 333;

		img {
			width: 20px;
			height: 20px;
		}
	}

	&::-webkit-scrollbar {
		display: none;
	}


	.help-modal-title:not(:first-child) {
		margin: 1rem 0;
	}

	.help-modal-title {
		font-size: 1.5rem;
		font-weight: 700;
		border-bottom: 2px solid #FFFFFF;
	}

	.help-footer {
		margin-top: 1rem;
	}

	.help-modal-text {
		text-align: left;
		font-size: 0.8rem;
		font-weight: 200;
		margin-bottom: 1rem;
		padding-bottom: 1rem;
		line-height: 1.8rem;

		.modal-good {
			color: #00FF00;
			margin-right: 0.2rem;
		}

		.modal-wrong {
			color: #FF0000;
			margin-right: 0.2rem;
		}

		.modal-partial {
			color: #FFA500;
			margin-right: 0.2rem;
		}

		.help-modal-category {
			margin-bottom: 0.5rem;

			.modal-subtitle {
				color: #06a7ac;
				font-size: 1rem;
			}

			.modal-info {
				color: #abffce;
			}
		}
	}
}

@keyframes headShake {
	0% {
		transform: translateX(0);
	}
	6.5% {
		transform: translateX(-6px) rotateY(-9deg);
	}
	18.5% {
		transform: translateX(5px) rotateY(7deg);
	}
	31.5% {
		transform: translateX(-3px) rotateY(-5deg);
	}
	43.5% {
		transform: translateX(2px) rotateY(3deg);
	}
	50% {
		transform: translateX(0);
	}
}

@keyframes lifeDisappear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media (max-width: 768px) {
	.win-box {
		width: 100%;
	}

	.loose-box {
		width: 100%;
	}
}